.settings-container {
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  background: rgb(213, 212, 212);
  color: var(--text-color);
  box-shadow: 0 2px 10px var(--border-color);
  transition: background 0.3s, color 0.3s;
  padding-left: 100px;
  padding-right: 100px;
}

.settings-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.settings-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.settings-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--primary-color);
  border-radius: 4px;
}


label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

select {
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.toggle-switch {
  width: 50px;
  height: 24px;
  background: rgb(237, 154, 154);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-switch::before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgb(83, 58, 58);
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: left 0.3s;
}

.toggle-switch.active {
  background: white;
}

.toggle-switch.active::before {
  left: 26px;
}

@media (max-width: 600px) {
  .settings-nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .settings-item {
    align-items: flex-start;
  }
}
